body {
    margin: 0;
    font-family: Arial;
    background: #fff5f7;
}

/* HEADER */
header {
    background: #ff4d6d;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
    background: #ffc2d1;
}

button {
    padding: 10px 20px;
    background: #ff4d6d;
    color: white;
    border: none;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

/* SECCIONES */
section {
    padding: 40px;
    text-align: center;
}

.cta {
    background: #ff8fab;
    color: white;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
}